.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: var(--color-accent);
    min-height: 0.5vh;
}

.container h3{
    font-family: var(--font-title);
}


