#Joingame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#Joingame h2{
    font-family: var(--font-title);
    color: var(--color-accent);
}