@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Pixelify+Sans&display=swap');

:root {
    --color-background: #0A101A;
    --color-surface-primary: #0C1F34;
    --color-surface-secondary: #102945;
    --color-text-primary: #CFCED0;
    --color-text-secondary: #B3B3B3;
    --color-accent: #C18D21;

    --font-body: 'Barlow', sans-serif;
    --font-title: 'Pixelify Sans', cursive;
}